@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Sriracha&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --screen-size: 1;
  font-size: 62.5%;
}
body {
  height: 100vh;
  background-color: #b0ffc8;
  font-family: "Sriracha", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame {
  padding: 0 8rem;
  background-color: #f84909;
  border-radius: 3rem;
}
.screen {
  width: 50rem;
  height: 50rem;
  background-color: white;
}
.header,
.control-container {
  height: 8rem;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: #ffeb3c;
  font-family: "Lobster", sans-serif;
}
.screen {
  display: grid;
  grid-template-columns: repeat(var(--screen-size), 1fr);
  grid-template-rows: repeat(var(--screen-size), 1fr);
}
.pixel {
  width: auto;
  height: auto;
  border: 1px solid #eee;
}
.darker {
  background-color: #999;
}
.btn {
  font-size: 3rem;
  font-family: "Sriracha", sans-serif;
  padding: 1rem;
}
